@font-face {
    font-family: arimo;
    src: url(../..//fonts/Arimo/Arimo-Regular.ttf);
}

@font-face {
    font-family: q-light;
    src: url(../../fonts/Quicksand/Quicksand-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(../..//fonts/Lato/Lato-Regular.ttf);
}

a, abbr, acronym, address, applet, article, aside, audio, b, button, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

*{
    box-sizing: border-box;
}

body {
    border-top: 5px solid #8C2800;
    font-family: lato, arimo,sans-serif, Arial;
    color: #343434;
}

body {
    line-height: 1;
}

/* DEFAULTS */

ul, li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #fff;
}

h1{
    font-size: 4.5em;
}

h2{
    font-size: 3.5em;
    font-weight: 300;
}

h3{
    font-size: 2.2em;
}

h4{
    font-size: 1.7em;
}

h5{
    font-size: 1.25em;
}


/* FIM DE DEFAULTS */

/* MAIN */

.wrap{
    max-width: 1200px;
    width: 96%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
}

.header_dashboard{
    height: 68px;
    background-color: #fff;
    border-bottom: 1px solid #E5E9EA;
}

.seccao_lateral_menu{
    float: left;
    max-width: 300px;
    width: 15%;
    clear: both;
}

.container_main{
    max-width: 900px;
    width: 85%;
    float: left;
    text-align: center;
    padding: 0 2em;
}

.header_section{
    background-color: #8C2800;
    color: #fff;
    padding: .7em;
    text-align: center;
    width: 100%;
}

#logoBack{
    background: url(../..//img/Logo-Aurora-Preto.png) no-repeat center;
    height: 300px; width: 800px;
    position: absolute;
    top: 50%;
    margin-top: -150px;
}

#logo_dashboard{
    background: url(../../img/Logo-Aurora-Preto.png) no-repeat;
    background-size: 148px;
    height: 35px; width: 148px;
    float: left;
    margin: 20px;
}

/* FIM MAIN GERAL */

/* SECÇÃO LATERAL */

ul.lista_menu{
    padding: 1.5em;
    width: 100%;
}

ul.lista_menu li{
    padding: .6em 0;
    width: 100%;
}

ul.lista_menu li a{
    color: #8C2800;
}

ul.lista_menu li a:hover{
    color: #58111C;
    font-weight: bold;
}

/* FIM SECÇÃO LATERAL */

/* MENU ADD PACOTE */

.container_main form{
    padding: 2em 0;
    float: left;
}

.container_main form label{
    display: table;
    color: #8C2800;
    font-weight: 400;
    margin: 0;
}

.container_main form input, textarea{
    display: table;
    margin: .6em 0 2em;
    width: 40em;
    border: 1px solid #E5E9EA;
    padding: .5em;
}

.botao_form{
    background-color: #8C2800;
    color: #fff;
}

.msgErro{
    color: red;
    font-weight: 300;
}

.msgSucesso{
    color: green;
    font-weight: 300;
}

.load{
    background: url(../..//img/load.gif) no-repeat;
    background-size: 24px;
    height: 24px;
}

#imagePreview{
    float: right;
    margin: .5em 0;
    width: 100px;
}
